<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Output to console -->
    <appender name="console_log_appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %highlight(%msg) %n</pattern>
        </encoder>
    </appender>

    <!-- level and appender -->
    <root level="INFO">
        <appender-ref ref="console_log_appender"/>
    </root>
</configuration>
